name: Format and Lint on Main

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

permissions: 
  contents: write
  pages: write
  id-token: write

jobs:
  build: 
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js ${{ matrix.node-version }} with pnpm cache
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install pnpm
        run: npm install -g pnpm@8
        
      - name: Instalando dependencias
        run: pnpm i
        
      - name: Ejecutando el formateador.
        run: pnpm format

      - name: Ejecutando el linter.
        run: pnpm lint